{% extends "ks/base.html" %}
{% block content%}
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3 class="modal-title"></h3>
	</div>
	<div class="modal-body"><div class="modal-image"></div></div>
	<div class="modal-footer">
		<a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Попередній</a>
		<a class="btn btn-primary modal-next">Наступний <i class="icon-arrow-right icon-white"></i></a>
	</div>
</div>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
	{% for item in items %}
		<div class="gallery-item" data-href="{{ item.url }}" title="{{ item.name }}"><img src="{{ item.small_url }}" style="width: 288px;"></div>
	{% endfor %}
</div>
{% endblock%}