<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
			<div class="row">
				<div class="span12 header-section cornered shadowed">
					<h1>Меблі </h1>
					<h2>від виробника</h2>
					<img class="logo-main" src="img/logo-main.png">
					<img class="logo"src="img/logo.png">
				</div>
			</div>
			<div class="row">
				<div class="span12 cornered search-section shadowed">
					<div class="home-button"onClick="location='index.html'"></div>
					<div class="material_link" onClick="location='material.html'"></div>
					<div class="oplata_link" onClick="location='oplata.html'"></div>
					<div class="kontakty_link" onClick="location='kontakty.html'"></div>
					<form class="search" action="index.html">
						<input type="text" class="search-query" placeholder="Пошук">
					</form>
				</div>
			</div>
			<div class="row">
				<div class="span12 menu-section cornered" style="margin-left:24px;">
					<div class="menu-item soft-mebel-button" onClick="location='soft-mebel.html'"></div>
					<div class="menu-item stoly-krisla-button" onClick="location='stoly-krisla.html'"></div>
					<div class="menu-item kyhni-button" onClick="location='kyhni.html'"></div>
					<div class="menu-item spalni-button" onClick="location='spalni.html'"></div>
					<div class="menu-item shafy-kupe-button" onClick="location='shafy-kupe.html'"></div>
					<div class="menu-item shaluzi-button" onClick="location='shaluzi.html'"></div>
					<div class="menu-item vorota-button" onClick="location='vorota.html'"></div>
					<div class="menu-item gotovi-mebli-button" style="background-image: url(img/8/83.png)" onClick="location='gotovi-mebli.html'"></div>
					<div class="menu-item kartyny-button" onClick="location='kartyny.html'"></div>
				</div>
			</div>
            <div class="row">
                <div class="span12 content cornered shadowed">
					
				</div>
            </div>
            <div class="row">
				<div class="span12 footer cornered shadowed"><div>&copy; kanapa-style 2013<div></div>
            </div>
        </div> 

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
