{% extends "ks/base.html" %}
{% block content%}
	<p> 
		Багаторічний досвід та інноваційні розробки дають можливість запропонувати відмінні меблі на Ваш смак та гаманець! "Канапа Стиль" 
		пропонує Вам лише високоякісну продукцію європейського рівня виробництва, широкий вибір сучасного та ретро дизайну моделей. Постійна 
		розробка новітніх ідей, дизайнерських та конструкторських рішень гарантує Вам довговічність, якість та функціональність меблів. 
		Тому вибираючи меблі компанії "Канапа Стиль", ми можемо з впевненістю сказати, що саме ці меблі ввібрали все найкраще: якісний текстиль та шкіру, тільки екологічно 
		чисті й доброякісні матеріали, ортопедичні матраци, надійність кріплень та комплектуючих, які є великою рідкістю на 
		вітчизняному ринку.
	</p>
	<p> 
		За довгі роки нашої діяльності тисячі Львів'ян та жителів інших областей стали користувачами нашої 
		продукції, адже ми пропонуємо виключно якісні та надійні меблі й дорожимо своїм іменем. Ви прагнете створити затишок 
		та тепло у Вашій оселі? Ми з задоволенням допоможемо Вам у цьому. Звернувшись до нас Вас чекає індивідуальний 
		підхід, висококваліфікована допомога у виборі меблів, з їх широкою кольоровою, структурною та текстурною палітрою, а 
		продуманість конструкцій забезпечить легкість збірки меблів, їх монтажу в приміщеннях і зручність в 
		експлуатації.
	</p>
	<p> 
		Щира турбота про клієнтів та диференційований підхід надають Вам можливість скористатись виготовленням 
		меблів за індивідуальними розмірами та дизайном. "Канапа Стиль" втілить найсміливіші дизайнерські ідеї за Вашим 
		вибором, а виконання меблів за персональними розмірами дозволить Вам насолоджуватись домашнім затишком. Зверніться до 
		нас і кваліфікований менеджер зніме розміри вашого приміщення, виконає індивідуальний дизайн, проконсультує у 
		питаннях підбору матеріалів та комплектуючих.
	</p>
	<p> 
		Компанія "Канапа Стиль" пропонує Вашій увазі постійне оновлення та збільшення асортименту своєї продукції 
		з найоптимальнішим співвідношенням ціни та якості.
	</p>
	<img src="/static/img/baner.jpg" style="width: 880px; margin: 30px"> 
{% endblock%}	


