{% extends "ks/base.html" %}
{% block content%}
	<table style="margin: 5px 20px; font-size: 13pt; width: 410px;">
		<tbody>
		<tr>
			<td><h6 style="font-size: 13pt;">E-mail:</h6></td>
			<td>kanapa.style@gmail.com	</td>
		</tr>
		<tr>
			<td style="vertical-align: top"><h6 style="margin: 0px; padding: 0px;  font-size: 13pt;">Тел:</h6></td>
			<td>+38 (096) 74 24 111<br>
				+38 (093) 489 50 50<br>
				+38 (099) 434 22 00
			</td>
		</tr>
		<tr>
			<td><h6 style="font-size: 13pt;">Фактична адреса:</h6></td>
			<td>Луганська, 1а</td>
		</tr>
		<tr>
			<td><h6 style="font-size: 13pt;">Юридична адреса:</h6></td>
			<td>Зелена, 238/4</td>
		</tr>
	</tbody></table>
	<img src="static/img/foto.jpg" style="position:relative; margin-left: 465px; margin-top: -180px; height: 300px;">
	<img src="static/img/map.png" style="margin-left:50px; margin-bottom:50px; margin-right:50px; margin-top:10px; height: 520px;">
{% endblock%}
