.content {
	background: none;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
}

.content .span8 {
	background: #fff6a6;
	box-shadow: 0 0 30px;
	border-radius: 10px;
}

.content .span4 .active {
	background-position-x: 300px; 	
}