.container {
	background-image: url('../img/side.png');
	background-size: 960px 30px;					
	background-repeat: repeat-y;
						
	background-position: 0px top;
	max-width: 960px;
	min-width: 960px;
	padding-left: 0px;
	padding-right: 0px;
	
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}
